<div class="card">
    <p-toolbar 
        styleClass="bg-gray-900 shadow-2" 
        [style]="{ 'border-radius': '3rem', 'background-image': 'linear-gradient(to right, var(--bluegray-500), var(--bluegray-800))' }">
        <ng-template pTemplate="start">
            <img src="https://primefaces.org/cdn/primeng/images/primeng.svg" />
        </ng-template>
        <ng-template pTemplate="center">
            <div class="flex flex-wrap align-items-center gap-3">
                <button routerLink="/home" class="p-link inline-flex justify-content-center align-items-center text-white h-3rem w-3rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200" style="margin-right: 1rem;">
                    <i class="pi pi-home text-2xl"></i> Home
                </button>
                <button routerLink="/dashboard" class="p-link inline-flex justify-content-center align-items-center text-white h-3rem w-3rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200" style="margin-right: 1rem;">
                    <i class="pi pi-user text-2xl"></i> About
                </button>
                <button routerLink="/protein-detail" class="p-link inline-flex justify-content-center align-items-center text-white h-3rem w-3rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200">
                    <i class="pi pi-search text-2xl"></i> Contact
                </button>
            </div>
        </ng-template>
        <ng-template pTemplate="end">
            <div class="card flex justify-content-center">
                <div class="dropdown">
                    <button class="dropbtn">Dropdown 
                      <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                      <a routerLink="/protein-detail">Protein Details</a>
                      <a routerLink="/forms-detail">Forms Details</a>
                      <a routerLink="/feed-detail">Feed Details</a>
                    </div>
                  </div> 
            </div>
        </ng-template>
    </p-toolbar>
</div>
