<div class="wrappper">
    <div class="container">
        <!-- <div class="chart-wrapper">
        <div class="chart-card">
            <p-chart type="bar" [data]="data" [options]="options" />
        </div>
        <div class="chart-card">
            <p-chart type="bar" [data]="basicData" [options]="basicOptions" />
        </div>
       </div>  -->
        <div class="card-wrapper">
            <div class="card-container">
                <div class="card blue-card">
                    <p>Revenue</p>
                    <h2>Rs. 20,000</h2>
                </div>
                <div class="card green-card">
                    <p>Expenses</p>
                    <h2>Rs. 15,000</h2>
                </div>
                <div class="card yellow-card">
                    <p>Profit</p>
                    <h2>Rs. 5,000</h2>
                </div>
                <div class="card red-card">
                    <p>Loss</p>
                    <h2>Rs. 2,000</h2>
                </div>
            </div>
            <div class="card-container">
                <div class="card blue-card">
                    <p>Revenue</p>
                    <h2>Rs. 20,000</h2>
                </div>
                <div class="card green-card">
                    <p>Expenses</p>
                    <h2>Rs. 15,000</h2>
                </div>
                <div class="card yellow-card">
                    <p>Profit</p>
                    <h2>Rs. 5,000</h2>
                </div>
                <div class="card red-card">
                    <p>Loss</p>
                    <h2>Rs. 2,000</h2>
                </div>
            </div>
        </div>
    </div>
</div>