.card  {
    background-color: #14b8a6;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    color: #fff;
    margin-bottom: 10px;
}
.custom-card-title {
    text-align: center;
    font-size: 4rem;
    font-family: 'Noto Nastaliq Urdu', 'Jameel Noori Nastaleeq', 'Aslam', 'Nafees Nastaleeq', 'Mehr Nastaliq Web', 'PakType Naskh', sans-serif;
    font-style: normal;
  font-weight: 600;
}
